<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.info46.startnewactivity2">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Up button.  Each screen in your app that's not the main entry point, which are all
        the screens that aren't the home screen,
        must provide navigation that directs the user
        to the logical parent screen in the app's hierarchy.
        To do this, add an Up button in the app bar:
        To add an Up button, you need to
        declare which activity is the logical parent
        in the AndroidManifest.xml file. Open the file at app > manifests > AndroidManifest.xml,
        locate the <activity> tag for DisplayMessageActivity, and replace it with the following:
        -->
        <activity android:name=".DisplayMessageActivity"
            android:parentActivityName=".MainActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            <!-- end The meta-data tag is required if you support API level 15 and lower -->
        </activity>
        <!-- Up button end.
        The Android system now automatically adds the Up button to the app bar.
        -->

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>